<h1>Event</h1>
<h2><%= l(local_time(@event.created_at), format: :month_day_year_time) %></h2>

<div class='col-md-12'>
  <h2>Images</h2>
  <% @image_urls.each do |image_url| %>
    <div class='well event col-xs-2'>
      <%= link_to image_url do %>
        <%= image_tag(image_url, class: 'thumbnail') %>
      <% end %>
    </div>
  <% end %>
</div>
