// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.event img {
  width: 100%;
  height: 100%;
}

div#image {
  width: 680px;
  height: 520px;
}

div#image img {
  width: 640px;
  height: 480px;
}
